*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(231, 231, 231);
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: rgb(247, 238, 238);
}

.row{
    background: rgba(0, 0, 0, 0.76);
    color: white;
    border-radius: 30px;
}

.row2{
    background: white;
}
.img{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400vmax;
}

.active {
    background-color: none;
}

.carousel{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: blue;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: blue;
}

p span {
    font-weight: 700;
}