body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(250, 250, 250);
}

.header,
.content {
    margin: 50px 80px;
}

.header {
    padding: 20px;
    background-color: rgb(75, 78, 255);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 1px 10px rgb(65, 65, 65);
    border-radius: 25px;
    color: white;
}

.header h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.documentContainer a:visited {
    color: blue;
}

.documentContainer a:hover {

    text-decoration: underline;

}

.menu-item {
    background-color: rgb(75, 78, 255);
    padding: 5px 10px;
    box-shadow: 0 1px 5px rgb(65, 65, 65);
    border-radius: 12px;
}

.menu-item a {
    color: white;
}

.menu-item:hover {
    background-color: rgb(0, 2, 138);
}

input[name="iSearch"] {
    height: 30px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

input[name="iSearch"]:focus {
    outline: none;
}

button {
    padding: 5px 20px;
    border-radius: 7px;
    height: 30px;
    border: none;
    color: black;
    background-color: rgb(0, 255, 0);
    text-transform: capitalize;
    font-weight: bold;
}

button:hover {
    background-color: rgb(0, 2, 138);
    color: white;
}